.profil{
    margin-top: 10%;
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.alignLeft{
    text-align: left;
}

td{
    width: 25vw;
}

th{
    width: 25vw;
    text-align: right;
}

span{
    font-weight: bold;
}

.downTable{
    width: 100%;
}