.navbar{
    width: 100vw;
    height: 10vh;
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img{
    margin: auto;
    height: 8vh;
    width: auto;
    margin-left: 10%;
}

.links{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: white;
}

a:focus{
    text-decoration: none;
    color: white;
}


@media screen and (max-width: 800px) {
    .twofields {
      margin-left: -100px;
    }
  }