.main{
    width: 100vw;
    height: 90vh;
}

.searchMain {
    margin-top: 1%;
    height: 10vh;
    width: 50vw;
    margin: auto;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.search {
    width: 80%;
}

.categ{
    width: 20%;
}

.products{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.product{
    width: 50vw;
    height: 10vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: row;
}